<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="de-DE" lang="de-DE" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body class="home">
 <div id="feedback"><a href="#" class="but01">Website feedback</a></div>
 <div id="container">
  <div id="header">
   <div id="headerinner" class="wrap">
    <div id="navmeta">
     <ul><li><a href="#" title="Home">Home</a></li><li><a href="#" title="Sitemap">Sitemap</a></li><li><a href="#" title="Help">Help</a></li></ul>
    </div>
    <div id="NAS4FreeLogo"><a href="#" title="NAS4Free Home"><img src="gfx/1px_TRANS.gif" alt="transparent" /></a></div>
    <div id="download"><a href="#" title="Download NAS4Free now!" class="but02"><strong>Download</strong><br /><span>from sourceforge.org</span></a></div>
    <div id="headerRight"></div>
    <div class="clear"><!-- --></div>
   </div>
  </div>
  <div id="content" class=" wrap">
   <div id="contentheader"><!-- --></div>
   <div id="col1">
    <div id="navmain">
     <ul><li><a href="#" title="Features">Features</a></li><li><a href="#" title="Screenshots" class="actsub">Screenshots</a><ul><li><a href="#" title="Sub Screenshots 01">Sub Screenshots 01</a></li><li><a href="#" title="Sub Screenshots 02">Sub Screenshots 02</a></li><li><a href="#" title="Sub Screenshots 03" class="act">Sub Screenshots 03</a></li></ul></li><li><a href="#" title="Documentation">Documentation</a></li><li><a href="#" title="Downloads">Downloads</a></li><li><a href="#" title="Support">Support</a></li><li><a href="#" title="Donate">Donate</a></li></ul>
    </div>
    <div id="col1cnt">Column1 content</div>
   </div>
   <div id="col2">
    <div id="col2cnt">
     <h1>Lorem ipsum dolor sit amet</h1>
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
     <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
     <h2>Cum sociis natoque penatibus</h2>
     <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
     <div class="box01">
      <h3>Boxed Lorem ipsum dolor sit amet</h3>
      <p>Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit</a>. Aenean commodo ligula eget dolor. Aenean massa.</p>
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
     </div>
     <h6>Boxed Lorem ipsum dolor sit amet</h6>
    </div><!-- close col2cnt-->
   </div>
   <div class="clear"><!-- --></div>
  </div>
  <div id="footer">
   <div id="footerInner">
    <div class="wrap">
     <div id="footercopyright">Copyright &copy; 2012-2013 NAS4Free<br />All rights reserved.</div>
     <div id="footercolcontainer">
      <div id="footercol1"><ul><li><strong>Navigation</strong></li><li><a href="#" title="Features">Features</a></li><li><a href="#" title="Screenshots" class="act">Screenshots</a></li><li><a href="#" title="Documentation">Documentation</a></li><li><a href="#" title="Downloads">Downloads</a></li><li><a href="#" title="Support">Support</a></li><li><a href="#" title="Donate">Donate</a></li></ul></div>
      <div id="footercol2"><ul><li><strong>Contact</strong></li></ul></div>
      <div id="footercol3"><ul><li><strong>Privacy</strong></li></ul></div>
      <div id="footercol4"><div class="sm"><div class="smCnt">social</div><div class="smCnt">media</div><div class="smCnt">icons</div></div>
     </div>
    </div>
    <div class="clear"><!-- --></div>
   </div><!-- close footer -->
  </div>
 </div><!-- close container -->
</body>
</html>