body, .rowdata {
	background-color: #D9DCE1;
}

body, td, input, textarea, select {
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 11;
        color: #000000;
}

.rowdatasel {
	background-color: #F2F2C6;
}

td {
	vertical-align: center;
}

td.header {
	background-image: url(./tablebg.png);
	vertical-align: middle;
}

td.title {
	background-repeat: repeat-x;
	background-image: url(./navbar.gif);
	font-weight: bold;
	font-size: 13;
       color: #FFFFFF;
}

small {
	font-size: 10;
}


a, a:link, a:visited {
	color: #223344;
	text-decoration: none;
}

a:hover, a:active {
	color: #778899;
	text-decoration: none;
}